/* __________GLOBALES______________ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
    color: #000000;
    text-decoration: none;
}

/* __________LOGIN______________ */

.index-body {
    background-image: url("../img/wave\ .svg");
    background-repeat: no-repeat;
    background-position:bottom;
    height: 100vh;
}

.index-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.index-img {
    background-image: url("../img/indexphoto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180%;
    height: 97vh;
}

.index-h1 {
    font-size: 50px;
    text-align: center;
}

.index-h2 {
    font-size: 30px;
    text-align: center;
}

.index-login-register {
    margin: auto;
}

.index-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input-form-index {
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 25px;
    height: 40px;

    margin-bottom: 10px;
    outline: none;
    padding-left: 10px;
}

.input-submit-index {
    background-color: #7c74a4;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 15px;
}

.input-submit-index:hover {
    background-color: #847ca4;
}

.input-submit-index:active {
    background-color: blueviolet;
}

.index-error-login, .index-register {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    padding: 2px 5px;
    text-align: center;
}

.index-error-login {
    background-color: red;
}

.index-register {
    background-color: green;
}

/* __________HOME______________ */

.header-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

/* .header-user {
    
} */

.header-user h1, h3 {
    text-align: center;
}

.header-digitalbank img {
    width: 300px;
}

.title-home {
    text-align: center;
}

/* __________NAVBAR______________ */


.nav-bar-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b3b3b3;
    justify-content: space-between;
    margin: 5px 10px;
    padding-bottom: 5px;
}

.nav-bar-title {
    font-size: 30px;
}
.nav-bar-title span {
    color: #3B3B3B;
}

.nav-bar-menu {
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    cursor: pointer;
    font-size: 16px;
    width: 70px;
    height: 25px;
}

.nav-bar-menu:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
  
  .nav-bar-menu:active {
    background-color: #383838;
    box-shadow: none;
    transform: translateY(0);
}

/* __________TRANSACTION HISTORY______________ */

.transactions-links-container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.transaction-links-pages {
    background-color: #7c74a4;
    border-radius: 50%;
    font-size: 20px;
    margin: 0 3px;
    width: 30px;
    text-align: center;
}

.transaction-links-pages:hover {
    background-color: #aea1e0;
    color: white;
}
/* __________MEDIAQUERYS______________ */
@media (max-width: 600px) {
    .index-container {
        display: block;
    }

    .nav-bar-logout, .index-img {
        display: none;
    }
}